# ignore files
.env
.envrc
*.log
.vscode/


# igore list
__pycache__/**
cache/
long-form-factuality/data/
long-form-factuality/datasets/atlas
**/results
**/__pycache__/
logs/
submodules/
**/justfile
notebooks/
notes.md
**/wandb